USE [BookStore]
GO
/****** Obiekt: Table [dbo].[Cart] Data skryptu: 10.05.2026 18:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Ilosc] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Cart_User_Product] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[Category] Data skryptu: 10.05.2026 18:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[Order] Data skryptu: 10.05.2026 18:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[data_zamowienia] [datetime] NULL,
	[status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[OrderItem] Data skryptu: 10.05.2026 18:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Ilosc] [int] NOT NULL,
	[Cena] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[Orders] Data skryptu: 10.05.2026 18:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[DataZamowienia] [datetime] NOT NULL,
	[Status] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[OrderStatusHistory] Data skryptu: 10.05.2026 18:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderStatusHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[OldStatus] [varchar](50) NULL,
	[NewStatus] [varchar](50) NOT NULL,
	[ChangedAt] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[Product] Data skryptu: 10.05.2026 18:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa] [varchar](255) NOT NULL,
	[Autor] [varchar](255) NOT NULL,
	[Cena] [decimal](10, 2) NOT NULL,
	[Opis] [nvarchar](max) NULL,
	[Ilosc] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[User] Data skryptu: 10.05.2026 18:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[imie] [varchar](50) NULL,
	[nazwisko] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[haslo] [varchar](255) NULL,
	[rola] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Obiekt: Table [dbo].[Users] Data skryptu: 10.05.2026 18:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Imie] [varchar](50) NOT NULL,
	[Nazwisko] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Haslo] [varchar](255) NOT NULL,
	[Rola] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT (getdate()) FOR [data_zamowienia]
GO
ALTER TABLE [dbo].[Order] ADD  DEFAULT ('Nowe') FOR [status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [DataZamowienia]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Nowe') FOR [Status]
GO
ALTER TABLE [dbo].[OrderStatusHistory] ADD  DEFAULT (getdate()) FOR [ChangedAt]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ('client') FOR [rola]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('client') FOR [Rola]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Product]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_User]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([id])
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Order]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Product]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[OrderStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_OrderStatusHistory_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderStatusHistory] CHECK CONSTRAINT [FK_OrderStatusHistory_Order]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [CHK_Cart_Ilosc] CHECK  (([Ilosc]>(0)))
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [CHK_Cart_Ilosc]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [CHK_OrderItem_Ilosc] CHECK  (([Ilosc]>(0)))
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [CHK_OrderItem_Ilosc]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CHK_Product_Cena] CHECK  (([Cena]>=(0)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CHK_Product_Cena]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CHK_Product_Ilosc] CHECK  (([Ilosc]>=(0)))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CHK_Product_Ilosc]
GO
/****** Obiekt: StoredProcedure [dbo].[AddToCart] Data skryptu: 10.05.2026 18:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddToCart]
    @user_id INT,
    @product_id INT,
    @ilosc INT
AS
BEGIN
    INSERT INTO Cart
    (user_id,product_id,ilosc)
    VALUES
    (@user_id,@product_id,@ilosc)
END
GO
/****** Obiekt: StoredProcedure [dbo].[AddUser] Data skryptu: 10.05.2026 18:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddUser]
    @imie VARCHAR(50),
    @nazwisko VARCHAR(50),
    @email VARCHAR(100),
    @haslo VARCHAR(255)
AS
BEGIN
    INSERT INTO [User]
    (imie,nazwisko,email,haslo)
    VALUES
    (@imie,@nazwisko,@email,@haslo)
END
GO
/****** Obiekt: StoredProcedure [dbo].[CreateOrder] Data skryptu: 10.05.2026 18:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateOrder]
    @user_id INT
AS
BEGIN
    INSERT INTO [Order]
    (user_id,status)
    VALUES
    (@user_id,'Nowe')
END
GO
/****** Obiekt: StoredProcedure [dbo].[sp_AddToCart] Data skryptu: 10.05.2026 18:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ========================= */

CREATE PROCEDURE [dbo].[sp_AddToCart]
    @UserId INT,
    @ProductId INT,
    @Ilosc INT
AS
BEGIN
    SET NOCOUNT ON;

    IF @Ilosc <= 0
    BEGIN
        RAISERROR('Ilość musi być większa od 0',16,1);
        RETURN;
    END

    IF NOT EXISTS (
        SELECT 1
        FROM Product
        WHERE Id = @ProductId
    )
    BEGIN
        RAISERROR('Produkt nie istnieje',16,1);
        RETURN;
    END

    IF EXISTS (
        SELECT 1
        FROM Cart
        WHERE UserId = @UserId
        AND ProductId = @ProductId
    )
    BEGIN
        UPDATE Cart
        SET Ilosc = Ilosc + @Ilosc
        WHERE UserId = @UserId
        AND ProductId = @ProductId;
    END
    ELSE
    BEGIN
        INSERT INTO Cart
        (
            UserId,
            ProductId,
            Ilosc
        )
        VALUES
        (
            @UserId,
            @ProductId,
            @Ilosc
        );
    END
END;

GO
/****** Obiekt: StoredProcedure [dbo].[sp_AddUser] Data skryptu: 10.05.2026 18:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =========================
   PROCEDURY
========================= */

CREATE PROCEDURE [dbo].[sp_AddUser]
    @Imie VARCHAR(50),
    @Nazwisko VARCHAR(50),
    @Email VARCHAR(100),
    @Haslo VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (
        SELECT 1
        FROM Users
        WHERE Email = @Email
    )
    BEGIN
        RAISERROR('Użytkownik już istnieje',16,1);
        RETURN;
    END

    INSERT INTO Users
    (
        Imie,
        Nazwisko,
        Email,
        Haslo,
        Rola
    )
    VALUES
    (
        @Imie,
        @Nazwisko,
        @Email,
        @Haslo,
        'client'
    );
END;

GO
/****** Obiekt: StoredProcedure [dbo].[sp_CheckStock] Data skryptu: 10.05.2026 18:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ========================= */

CREATE PROCEDURE [dbo].[sp_CheckStock]
    @ProductId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        Id,
        Nazwa,
        Ilosc
    FROM Product
    WHERE Id = @ProductId;
END;

GO
/****** Obiekt: StoredProcedure [dbo].[sp_CreateOrder] Data skryptu: 10.05.2026 18:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ========================= */

CREATE PROCEDURE [dbo].[sp_CreateOrder]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRANSACTION;

    BEGIN TRY

        IF NOT EXISTS (
            SELECT 1
            FROM Cart
            WHERE UserId = @UserId
        )
        BEGIN
            RAISERROR('Koszyk jest pusty',16,1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        DECLARE @Cart TABLE
        (
            ProductId INT,
            Ilosc INT
        );

        INSERT INTO @Cart
        SELECT
            ProductId,
            Ilosc
        FROM Cart
        WHERE UserId = @UserId;

        IF EXISTS (
            SELECT 1
            FROM Product p
            JOIN @Cart c
                ON p.Id = c.ProductId
            WHERE p.Ilosc < c.Ilosc
        )
        BEGIN
            RAISERROR('Brak wystarczającej ilości produktu',16,1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        INSERT INTO Orders
        (
            UserId,
            DataZamowienia,
            Status
        )
        VALUES
        (
            @UserId,
            GETDATE(),
            'Nowe'
        );

        DECLARE @OrderId INT = SCOPE_IDENTITY();

        INSERT INTO OrderItem
        (
            OrderId,
            ProductId,
            Ilosc,
            Cena
        )
        SELECT
            @OrderId,
            c.ProductId,
            c.Ilosc,
            p.Cena
        FROM @Cart c
        JOIN Product p
            ON p.Id = c.ProductId;

        UPDATE p
        SET p.Ilosc = p.Ilosc - c.Ilosc
        FROM Product p
        JOIN @Cart c
            ON p.Id = c.ProductId;

        DELETE FROM Cart
        WHERE UserId = @UserId;

        COMMIT TRANSACTION;

        SELECT @OrderId AS OrderId;

    END TRY
    BEGIN CATCH

        ROLLBACK TRANSACTION;
        THROW;

    END CATCH
END;

GO
/****** Obiekt: StoredProcedure [dbo].[sp_GetCartByUser] Data skryptu: 10.05.2026 18:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ========================= */

CREATE PROCEDURE [dbo].[sp_GetCartByUser]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        c.Id,
        c.UserId,
        c.ProductId,
        c.Ilosc,
        p.Nazwa,
        p.Cena
    FROM Cart c
    JOIN Product p
        ON p.Id = c.ProductId
    WHERE c.UserId = @UserId;
END;

GO
/****** Obiekt: StoredProcedure [dbo].[sp_GetOrdersByUser] Data skryptu: 10.05.2026 18:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ========================= */

CREATE PROCEDURE [dbo].[sp_GetOrdersByUser]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Orders
    WHERE UserId = @UserId
    ORDER BY DataZamowienia DESC;
END;

GO
/****** Obiekt: StoredProcedure [dbo].[sp_UpdateOrderStatus] Data skryptu: 10.05.2026 18:32:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ========================= */

CREATE PROCEDURE [dbo].[sp_UpdateOrderStatus]
    @OrderId INT,
    @Status VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @OldStatus VARCHAR(50);

    SELECT @OldStatus = Status
    FROM Orders
    WHERE Id = @OrderId;

    UPDATE Orders
    SET Status = @Status
    WHERE Id = @OrderId;

    INSERT INTO OrderStatusHistory
    (
        OrderId,
        OldStatus,
        NewStatus
    )
    VALUES
    (
        @OrderId,
        @OldStatus,
        @Status
    );
END;

GO
